div#job-list {
  margin: 5px 0px;
}

div#job-list h3 {
  margin: 5px;
  border-bottom: solid 2px;
  padding-bottom: 5px;
}

div#job-list .jobs {
  display: inline-block;
}

li.job {
  width: 215px;
  margin: 5px 0px 0px 5px;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
}

li.job .state {
  border-radius: 5px;
  padding: 2px 5px;
}

li.job .Waiting, li.job .TemporaryFailure {
  background-color: darkorange;
  color: white;
}

li.job .Running {
  background-color: lightgreen;
}

li.job .Success {
  background-color: darkgreen;
  color: white;
}

li.job .Cancelled, li.job .PermanentFailure, li.job .SystemError {
  background-color: darkred;
  color: white;
}
