<nav class="navbar bg-inverse">
  <ul class="nav">
    <a class="navbar-brand" href="#">CWL Demo Frontend</a>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="panel='job-new'">New Job</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" (click)="panel='job-detail'">Job Details</a>
      </li>
  </ul>
</nav>


<div class="container-fluid full-height">
  <div class="row">
    <div class="col-2">
      <app-job-list></app-job-list>
    </div>
    <div class="col">
      <app-job-detail *ngIf="panel=='job-detail'"></app-job-detail>
      <app-job-new *ngIf="panel=='job-new'"></app-job-new>
    </div>
  </div>
</div>
