fieldset {
  border: solid 1px;
  border-radius: 5px;
  padding: 15px;
}

legend {
  width: 250px;
  margin-left: 15px;
  padding-left: 15px;
}

.full-height {
  height: 100%;
}

form.job-form fieldset legend {
  margin-bottom: 0px;
}

form.job-form fieldset.workflow-input label {
  margin-bottom: 0px;
  margin-top: -15px;
}
