/* You can add global styles to this file, and also import other style files */
html,body {
  height:100%;
}

body {
  margin: 0px;
}

nav.bg-inverse {
  background-color: #292b2c;
  color: white;
}

nav.bg-inverse a {
  color: white;
}

div.container-fluid {
  margin-top: 20px;
}
